<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShoppingList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C02F8AA1C66FF1400944AB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C02F8BE1C66FF1400944AB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C02F8C91C66FF1400944AB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
